a.first-a {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30.52px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
color:  #000000;
}
span.Ingridient {
    color: dodgerblue;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
#second-a {
    color: #2196F3;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16іpx;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
}
#third-a {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
#fourth-a {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
a.fifth-a{
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
a.sixth-a {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
h1 {
    color: #000000;/*!Якщо поставити білий, не видно, тому чорний*/
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
}
.container {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
}
button {
    background-color: #2196F3 ;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    border: none;
    color: #ffffff;
    padding: 10px;
}
h4 {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
}
li > p {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}
section > h2.h-first {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
}
section > h2.h-second {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
}
#p-text {
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.03em;
}
p > span {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
}
a.second-a {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color:  #000000;
    }
    span.Ingridient-2 {
    color: dodgerblue;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    }
 address > p.adress-p {
    color: #000000; /*!Тут так само не видно якщо білий колір*/
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    }
    address > p {
     color: #000000; /*!Тут так само не видно якщо білий колір*/
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    }